# Python
.venv/
__pycache__/
*.pyc
*.pyo
.python-version

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/package-lock.yml
dbt_project/logs/
profiles.yml                    # contains local paths — each dev has their own
*.user.yml           # local developer overrides — not for version control

# DuckDB
*.duckdb
*.duckdb.wal

# Data — Bronze layer (real data, не пушимо в репо)
data/

# IDE
.idea/
.vscode/
*.iml

# PyBuilder
.pybuilder/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb
analytics/charts/

# OS
.DS_Store
Thumbs.db

# uv
.uv/
uv.lock

# Environment variables
.env
/dbt_project/.user.yml
